<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Welcome {{firstName}} {{lastName}}!</h1>
            <p class="description center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h5 class="mt-5 center">Here is the list of all the Umbrella Products</h5>
            <div class="mt-5 center" *ngIf="showBundleLoader else bundlesContainer">
                <div class="spinner-border mt-2 text-secondary" role="status">
                    <span class="visually-hidden">Loading Umbrella Products ...</span>
                </div>
            </div>
            <ng-template #bundlesContainer>
                <div class="my-course-materials d-flex mt-4">
                    <div class="products-container d-flex flex-wrap" *ngIf="bundles.length > 0">
                        <div class="product me-2" *ngFor="let bundle of bundles">
                            <img class="product-image" *ngIf="bundle?.image" [src]="isAbsoluteUrl(bundle?.image) ? bundle?.image : bundle?.path + '/' + getOLPProductCode(bundle.products) + '/' + bundle?.image" [alt]="bundle?.title" ImageThumbnailUpdate [productData]="bundle" />
                            <div class="product-image no-image-container" *ngIf="!bundle?.image"></div>
                            <p class="product-info">{{bundle.title}}</p>
                            <p class="short-description">{{bundle["short-description"]}}</p>
                        </div>
                    </div>
                </div>
            </ng-template>  
        </div>
    </div>
</div>