/* You can add global styles to this file, and also import other style files */

.btn {
    border-radius: 20px;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    padding: 12px 24px;
    background-color: #1976d2;
    &:focus {
      box-shadow: none;
    }
}
.center {
    text-align: center;
}

